html {
  background: black;
}

body {
  margin: auto;
  width: 600px;
  padding: 200px;
  border: 1px solid white;
  background: rgba(255, 255, 255, .25);
}

.style,
#opt,
button,
#out,
#ftur {
  color: rgb(255, 255, 255);
}

select,
button {
  background: black;
}
